/*VARIABLES*/

:root {
  /*Colors*/
  --primary-color: #c2d076;
  --alert-color: #ce4257;
  --background-dark-color: #111;
  --background-light-dark-color: #222;
  --white-color: #fff;
  /*Fonts*/
  --heading-font: "Bebas Neue", sans-serif;
  --regular-font: "Nunito Sans", sans-serif;
}


/*HARD RESET*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-dark-color);
}

nav {
  align-items: center;
  background-color: var(--background-light-dark-color);
  display: flex;
  height: 80px;
  justify-content: space-between;
  padding: 0 10%;
}

nav a {
  color: var(--white-color);
  text-decoration: none;
}

.app-title-link {
  font-family: var(--heading-font);
  font-size: 3rem;
}

.app-title-link span {
  color: var(--primary-color);
}

.login-logout-button {
  background-color: var(--alert-color);
  font-family: var(--regular-font);
  font-size: 1rem;
  font-weight: 400;
  padding: 10px;
  text-align: center;
  width: 100px;
}

.container {
  margin: auto;
  padding: 40px 0;
  width: 80%;
}

.user-access-form {
  background-color: var(--background-light-dark-color);
  display: flex;
  flex-direction: column;
  padding: 40px;
  width: 500px;
}

.user-access-form h1 {
  color: var(--white-color);
  font-family: var(--heading-font);
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 40px;
}

.user-access-form input {
  background-color: transparent;
  border-color: transparent;
  border-bottom: 1px solid #333;
  caret-color: #555;
  color: var(--primary-color);
  font-family: var(--regular-font);
  font-size: 1rem;
  margin-bottom: 40px;
  outline: none;
  padding: 10px;
}

.user-access-form button {
  background-color: var(--primary-color);
  border-color: transparent;
  color: #333;
  cursor: pointer;
  font-family: var(--heading-font);
  font-size: 1.5rem;
  margin-bottom: 40px;
  outline: none;
  padding: 10px;
}

.login-register-link {
  color: var(--alert-color);
  font-family: var(--regular-font);
  font-size: 1.125rem;
  text-align: right;
  text-decoration: none;
}

.dashboard-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.add-task-button {
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  font-family: var(--regular-font);
  font-size: 1.25rem;
  margin: 0 auto 40px auto;
  padding: 5px 10px;
  text-decoration: none;
  text-transform: uppercase;
}

.add-task-button:hover {
  background-color: var(--primary-color);
  color: var(--dark-background-color);
  font-family: var(--regular-font);
  font-size: 1.25rem;
  margin: 0 auto 40px auto;
  padding: 5px 10px;
  text-decoration: none;
  text-transform: uppercase;
}

.jobs-lists-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.jobs-list-container {
  background-color: var(--background-light-dark-color);
  margin-right: 40px;
  padding: 20px;
  width: 300px;
}

.jobs-list-container:last-child {
  margin-right: 0;
}

.jobs-list-container h1 {
  color: var(--white-color);
  font-family: var(--heading-font);
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 20px;
  text-align: center;
}

.job-tag-container {
  background-color: #333;
  color: var(--white-color);
  cursor: pointer;
  font-family: var(--regular-font);
  font-size: 0.8rem;
  font-weight: 300;
  margin-bottom: 20px;
  padding: 20px;
}

.job-tag-container:hover {
  background-color: #444;
}

.job-tag-container p:first-child {
  color: var(--primary-color);
  font-size: 1rem;
}

.job-tag-container p:last-child {
  margin-top: 10px;
  text-align: right;
}
